@model SecretsPolicyViewModel
@{
    ViewData["Title"] = "Secret Policy Details";
}

<h2>Secret Policy Details</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Policy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <pre>@Model.Policy</pre>
            </td>
        </tr>
    </tbody>
</table>